[data-files-row-clone] {
	display: none;
}
.msm-files-row {
    cursor: pointer;
}
.msm-files-row:hover td,
.msm-files-row--hover td {
    background-color: #bada55;
}
.msm-files-row.missing td {
	color: red;
}
.msm-num-disc {
	display: inline-block;
	width: 1.5rem;
	text-align: center;
	border-radius: 100px;
	background-color: white;
	color: #bada55;
	border: 1px solid grey;
	font-weight: bold;
	margin: .25rem;
}
.msm-navbar__button:hover {
	background-color: #bada55;
}
.msm-files-row-name {
	height: 1.5rem;
	overflow: hidden;
}
.msm-files-row-cell {
	position: relative;
}
.msm-files-row-tools {
	position: absolute;
	right: .5rem;
	top: .25rem;
	width: 200px;
}
.msm-files-row-tools > * {
	float: right;
}
