[data-files-row-clone],
[data-files-alert-clone] {
	display: none;
}
input[readonly],
input[readonly]:focus {
	color: #999;
	background-color: #f8f8f8;
}
.msm-files-row {
    cursor: pointer;
}
.msm-files-row:hover td {
	background-color: #e8e8e8;
}
.msm-files-row--hover td {
    background-color: #bada55 !important;
}
.msm-files-row--flash {
	animation-name: flash;
	animation-duration: 3s;
}
@keyframes flash {
	0% { opacity: 0; }
	5% { opacity: 1; }
	10% { opacity: 0 ;}
	15% { opacity: 1; }
	20% { opacity: 0; }
	25% { opacity: 1; }
}
.msm-files-row.missing td {
	color: red;
}
.msm-num-disc {
	display: inline-block;
	width: 1.5rem;
	text-align: center;
	border-radius: 100px;
	background-color: white;
	color: #d8d8d8;
	border: 1px solid grey;
	font-weight: bold;
	margin: .25rem;
}
.msm-num-disc + .msm-num-disc {
	margin-left: 0;
}
.msm-num-disc--0 {
	color: #dabb55;
}
.msm-num-disc--1 {
	color: #55dac6;
}
.msm-num-disc--2 {
	color: #559eda;
}
.msm-num-disc--3 {
	color: #55da84;
}
.msm-num-disc--4 {
	color: #cb55da;
}
.msm-num-disc--5 {
	color: #dada55;
}
.msm-num-disc-gear {
	margin-left: -1rem;
}
.msm-navbar__button:hover {
	background-color: #bada55;
}
.msm-files-row-name {
	height: 1.5rem;
	overflow: hidden;
}
.msm-files-row-cell {
	position: relative;
}
.msm-files-row-tools {
	position: absolute;
	right: .5rem;
	top: .25rem;
	width: 200px;
}
.msm-files-row-tools > * {
	float: right;
}
